/*https://colorhunt.co/palette/1818188758ff5cb8e4f2f2f2*/

body{
  font-family: "Fira Sans", sans-serif;
  text-align: center;
  background-color: #F2F2F2;
}

/* table{
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
} */

#personal-info .container-fluid{
  padding: 3% 15% 12%;
  text-align: left;
  vertical-align: middle;
}

#educacion{
  padding: 100px;
}

#skills{
  padding: 100px;
}

#experiencia{
  padding: 100px;
}

#contacto{
  padding: 100px;
  /* background-color: #5CB8E4; */
}

#footer{
  background-color: #5CB8E4;
  padding: 75px;
}

#footer p{
  margin: 0;
}

.dark-card-header{
  background-color: #181818;
  color: #F2F2F2;
}

.education-card{
  border-style: none;
  /* opacity: 0.80; */
}

.profile-image{
  border-radius: 50%;
  max-width: 60%;
}

.profile-img-container{
  text-align: center;
}

.black-section{
  background-color: #181818;
  color: #fff;
}

.colored-section{
  background-color: #8758FF;
  color: #000;
}

.colored-section-two{
  background-color: #5CB8E4;
  color: #000;
}

.skills-title{
  font-family: "Josefin Sans", "Ubuntu", sans-serif;
  padding: 3% 0;
}

.s-skill-table{
  background-color: white;
  color: black;
  /* list-style-type: none; */
  padding: 0;
  border-radius: 1.5rem;
}

.s-skill-table table{
  margin-bottom: 0;
}

/* .s-skill-table table thead > tr:first-child th{
  background-color: #5CB8E4;
} */

.s-skill-table table tbody > tr:last-child{
  border-bottom: none !important;
  /* color: blue; */
}

.s-skill-table table tbody > tr:last-child > th{
  border-bottom: none !important;
  /* color: blue; */
}

.logo-img img{
  /* max-width: 300px; */
  max-width: 250px;
}

.softskills{
  margin-top: 5rem;
}

.accordion-content{
  text-align: left;
}

.contact-links a{
  color: #fff;
}

.contact-links p{
  font-size: 1.35rem;
}

.contact-links i{
  margin: 0 0.65rem 1.5rem;
}

.contact-links i:hover{
  color: #5CB8E4;
}

/* Navbar Style */
.navbar{
  padding-bottom: 4.5rem;
}

.navbar-brand{
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.navbar-item{
  padding: 0 18px;
}

.nav-link{
  font-family: "Montserrat";
  font-size: 1.2rem;
  font-weight: 100;
}

@media screen and (max-width: 767px){
  .logo-img{
    padding: 2rem 0;
  }

  .softskills{
    margin-top: 0;
  }
}

/* Before 992 after 1085 */
@media screen and (max-width: 1085px) and (min-width: 768px){

  .profile-img-container{
    padding: 3rem 12px;
  }

  .logo-img{
    padding: 0;
  }

  .logo-img img{
    max-width: 175px;
    padding: 0 1rem;
  }

}
